{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Клиентская аналитика</title>
    <link rel="shortcut icon" href="../../static/img/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Style CSS -->
    <link rel="stylesheet" href="../../static/css/style_campaign.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400&display=swap" rel="stylesheet">
</head>
<body>

<section class="title_form">
    <h1 class="title"> Результаты</h1>
</section>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}


    <section class="input_files_form">

        {% for rule in rules %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                   {{ rule.cluster }}: Совершите покупку в категориях {{rule.left}} и {{rule.right}} на сумму от {{ rule.new_cheque }} и получите скидку {{ rule.sale }}
                    <br/>
                    <br/>

                    Средний чек кластера : {{ rule.cheque }}

                    <br/>
                    <br/>

                    Call-центр : {{ rule.phone_number }} <br/>
                    Sms : {{ rule.sms_number }} <br/>
                    email : {{ rule.email_number }}

                    <br/>
                    <br/>

                    Расходы : {{ rule.total_cost }}  Минимальная прибыль : {{ rule.total_revenue }}
                </li>
            </ul>
        {% endfor %}

    </section>

    <section class="input_files_form">
        Расчетная выручка : {{ revenue }} <br/><br/>
        Расходы : {{ costs }}  <br/><br/>

        <a class="btn btn-outline-secondary" href="/media/Результаты.zip" role="button">Скачать результаты</a>
    </section>


</form>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- Font Awesome -->
<script src="../../static/js/all.min.js"></script>
<!-- End Script Source Files -->
</body>
</html>